<div class="container">
    <div class="row justify-content-center">
        <h1 class = "color ">Mi Perfil</h1>
    </div>
    <div class="row justify-content-center">
        <div class="cuadrado"></div>
    </div>
    <div class="row justify-content-center">
        <h4>Nombre de la persona</h4>
    </div>

    <div class="row justify-content-center ">
        <button 
        
        type="button" class="boton"> Mis tweets </button>
    </div>

</div>

    <div class="row justify-content-center mt-5">
        <h1 class = "color ">Seguidores</h1>
    </div>
        <div class="row justify-content-center mt-3">
            <div class="row cuadrado1 justify-content-center">
                <div class="row-3 justify-content-right">
                   aqui va la imagen
                </div>
                
                <div class="row-3  nombre">
                    <h4>Nombre</h4> 
                </div>
                    
                    
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="row justify-content-center">
                <div class="cuadrado1"></div> 
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="row justify-content-center">
                <div class="cuadrado1"></div> 
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="row justify-content-center">
                <div class="cuadrado1"></div> 
            </div>
        </div>

  