
.container{
    background-color: beige;
}
.cuadrado{
    padding:80px;
    width: 100px;
     margin:7px;
     text-size-adjust: unset;
    background-color:white;
    border: solid 3px rgb(6, 2, 44);
    color:gray;
    border-radius: 7px;
}
.boton{
    
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 7px;
    background-color: rgb(6, 2, 44);
    text-decoration-color: rgb(6, 2, 44);
    border-style: solid;
    border-color: #666666;
    color: #ffffff;
    border-radius: 40px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius:20px ;
}

.boton1{

    
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    background-color: rgb(6, 2, 44);
    text-decoration-color: rgb(6, 2, 44);
    border-style: solid;
    border-color: #666666;
    color: #ffffff;
    
}

.color{
    color: rgb(6, 2, 44);
    text-align: center;
}
.cuadrado1{
    width: 150px;
    height: 200px;
    text-size-adjust: unset;
    background-color:white;
    border: solid 3px gray;
    color:gray;
    border-radius: 15px;
}

.nombre{
    text-align: inherit;
}