<div class="d-flex align-items-center justify-content-center px-md-1 px-1 mt-1">
  <form
    [formGroup]="registerForm"
    novalidate
    class="registerForm animated bounceInDown justify-content: center"
  >
    <div [class.loginContent]="!this.switchForm">
      <p
        [class.titleForm]="!this.switchForm"
        [class.h1]="!this.switchForm"
        [class.h3]="this.switchForm"
        [class.my-4]="this.switchForm"
      >
        {{ tituloForm }}
      </p>
      <hr class="line" />
      <div class="form-group">
        <label for="nameUser">Nombre</label>
        <input
          type="text"
          formControlName="Name"
          name="nameUser"
          class="uk-input"
          id="nameUser"
          [disabled]=""
          placeholder="Ingresa tu nombre"
        />
        <div
          class="uk-text-danger uk-text-small pl-1 uk-padding-remove-bottom"
          *ngIf="
            (registerForm.get('Name').hasError('required') ||
              registerForm.get('Name').hasError('minlength')) &&
            registerForm.get('Name').dirty
          "
        >
          Nombre requerido, mínimo tres caracteres
        </div>
      </div>

      <div *ngIf="!this.switchForm" class="form-group">
        <label for="passwordUser">Ingresa una contraseña</label>
        <input
          type="password"
          class="uk-input"
          formControlName="Password"
          id="passwordUser"
          placeholder="Ingresa tu contraseña"
          name="passwordUser"
        />
        <div
          class="uk-text-danger uk-text-small pl-1 uk-padding-remove-bottom"
          *ngIf="
            (registerForm.get('Password').hasError('required') ||
              registerForm.get('Password').hasError('minlength')) &&
            registerForm.get('Password').dirty
          "
        >
          No has ingresado una contraseña válida
        </div>
      </div>
      <div *ngIf="!this.switchForm" class="form-group">
        <label for="passwordRepeat">Confirma la contraseña</label>
        <input
          type="password"
          class="uk-input"
          formControlName="passwordRepeat"
          id="passwordRepeat"
          placeholder="Ingresa tu contraseña"
          name="passwordRepeat"
        />
        <div
          class="uk-text-danger uk-text-small pl-1 uk-padding-remove-bottom"
          *ngIf="
            registerForm.get('passwordRepeat').value !=
              registerForm.get('Password').value &&
            registerForm.get('passwordRepeat').dirty
          "
        >
          No coinciden la contraseña y la confirmación
        </div>
      </div>
      <button
        *ngIf="!this.switchForm"
        type="submit"
        class="btn btn-primary"
        class="btn btn-primary"
        (click)="registerValidate()"
        [disabled]="registerForm.invalid || this.ajax"
      >
        Registrar
      </button>
      <div *ngIf="this.switchForm">
        <p
          *ngIf="this.actualizarOk"
          class="uk-text-small uk-text-success uk-text-center"
        >
          Datos actualizados
        </p>
        <!--   <button
        type="submit"
        class="btn btn-primary"
        class="btn btn-primary"
        (click)="updateValidate()"
        [disabled]="this.ajax"
      >
        Actualizar
      </button> -->
      </div>
      <hr />
      <div *ngIf="!this.switchForm" class="uk-text-center">
        <a class="uk-text-primary" (click)="this.tools.nav('login')"
          >Inciar sesión</a
        >
      </div>
    </div>
  </form>
</div>
